body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe); /* Gradasi biru yang cerah */
}

.container {
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); /* Latar belakang putih lebih terang */
    border-radius: 20px; /* Sudut lebih melengkung */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Bayangan lebih dalam */
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 2.5em; /* Ukuran font lebih besar */
    margin-bottom: 20px;
    color: #333;
    font-weight: bold; /* Font tebal */
}

label {
    font-size: 1em;
    color: #555; /* Warna teks label lebih lembut */
    display: block;
    margin: 10px 0;
}

input[type="number"] {
    width: calc(20% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #4facfe; /* Warna border sesuai dengan gradasi */
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #00f2fe; /* Mengubah warna border pada fokus */
    outline: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #00f2fe; /* Warna tombol */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4facfe; /* Warna tombol saat hover */
}

#passwordOutput {
    margin: 20px 0;
    font-size: 1.5em;
    color: #333;
    background-color: #e0f7fa; /* Latar belakang output yang lebih cerah */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4facfe; /* Warna border output */
    word-break: break-all;
}

#copyBtn {
    margin-top: 15px;
    background-color: #4facfe; /* Warna tombol salin */
    transition: background-color 0.3s;
}

#copyBtn:hover {
    background-color: #00f2fe; /* Warna tombol salin saat hover */
}